<nav class="uk-navbar-container uk-margin" uk-navbar *ngIf="user != null">
  <div class="uk-navbar-left">
    <a href="/">
      <img src="assets/logo.png" alt="Logo" style="width: 100px" class="uk-margin-left">
    </a>
  </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      <small class="text-muted">{{ user.email }}</small>
    </div>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-text-primary" uk-toggle="target: #newTaskModal">
          + New Task
        </a>
      </li>
      <li>
        <a class="uk-text-secondary" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<div class="uk-container" *ngIf="items | async as fetchedItems">
  <h1 class="uk-heading-divider">Tasks</h1>
  <div uk-alert class="uk-alert-primary uk-text-center" *ngIf="fetchedItems.length == 0">It looks like you have no tasks. <a uk-toggle="target: #newTaskModal">Add one?</a></div>
  <div class="uk-card uk-card-small uk-card-default uk-margin-bottom-small uk-animation-slide-bottom-small" *ngFor="let item of fetchedItems">
    <div class="uk-card-body">
      <h3 class="uk-card-title">{{ item.title }}</h3>
      <div class="uk-card-badge uk-label uk-position-center-right uk-margin-large-right">{{ item.project }}</div>
      {{ item.text }}
      <span (click)="delete(item)" style="cursor: pointer;" class="uk-position-center-right uk-padding-small uk-text-danger" uk-icon="icon: trash; ratio: 0.8"></span>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="newTaskModal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-body">
      <h2 class="uk-modal-title">New Task</h2>
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Title" [formControl]="title">
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Project" [formControl]="project">
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <textarea class="uk-textarea" placeholder="Text" [formControl]="text"></textarea>
      </div>
      <button (click)="save()" class="uk-button uk-button-default uk-width-1-1">Save</button>
    </div>
  </div>
</div>
